*{
    font-family:"Microsoft Jhenghei";
    margin: 0;
    padding: 0;
 }

body{
    text-align:center;
    background-color: #eaf8ea;
}

.product{
    width: 100%;
    margin-bottom: 3vw;
}

.product-a img{
    width: 24%;
    margin: 0.2%;
}

.back{
    height: 6vw;
    line-height: 6vw;
    margin: 0.5vw 0;
}

.back a{
    font-size: 20px;
    color: rgb(83, 83, 83);
    padding: 0.8vw 3vw;
    margin-bottom: 5vw;
    border-radius: 0.3em;
    border-width:1px;
    border-style:solid;
    border-color:rgb(83, 83, 83,0.8);
    background-color: rgb(0,0,0,0);
}

.back a:hover{
    color: #fff;
    background-color: rgb(83, 83, 83);
    border-style:none;
    text-decoration: none;
}


@media(max-width:768px) {
    .product-a img{
        width: 50%;
    }

    .back{
            height: 6vw;
            line-height: 6vw;
            margin: 5vw 0;
        }
}

@media(max-width:480px) {
    .product-a img{
        width: 100%;
    }
}

/* .product_3 */

.product_3{
    width: 100%;
    margin-bottom: 5vw;
}

.product_3_a img{
    width: 30%;
    margin: 0.5%;
}


@media(max-width:768px) {
    .product_3_a img{
        width: 50%;
    }

    .back{
            height: 6vw;
            line-height: 6vw;
            margin: 5vw 0;
        }
}

@media(max-width:480px) {
    .product_3_a img{
        width: 100%;
    }
}